<div class="container">
    <div class="col-md-6">
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="fs-3">Nom :</label>

            <input type="text" class="form-control mb-3 row" id="exampleFormControlInput1" placeholder="Ex : Dupond">

        </div>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="fs-3">Prénom :</label>

            <input type="text" class="form-control mb-3 row" id="exampleFormControlInput1" placeholder="Ex : Jean">

        </div>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="fs-3">Age :</label>

            <input type="text" class="form-control mb-3 row" id="exampleFormControlInput1" placeholder="Ex : 18 ans">

        </div>
    </div>
</div>